@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url('../fonts/OpenSans-Bold.ttf');
}



