body, html{
    height: 100%;
}

body{
    background: #f5f5f5;
    font-family: 'Open Sans Bold', "Helvetica Nueue", Arial, sans-serif;
    color: #444040;
}

/* Wrapper */

.wrapper {height: 100%;}

.flex-holder-column {
    display: flex;
    flex-direction: column;
}

/*Header*/

.header {
    min-height: 4.7em;
    background: #393939;
    font-size: 0.8em;
}

.flex-holder-row {
    display: flex;
}

.header .menu-btn {
    background: #2b2b2b;
    padding:1.5em;
}

.icon {
    display: inline-block;
    background: url(../img/new5.png) no-repeat;
}

.menu-btn .font-icon {
    font-size: 1.7em;
    color: #f8f8f8;
}

.header-content {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding:0 0.75em 0 1.5em;
}

.header-content .logo {
    width:160px;
    height:30px;
    background-position: -14px -11px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.header-holder-item {
    border: 1px solid #282828;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 1);
    box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 1);
    background: #4b5253;
    align-items: center;
    border-radius: 0.5em;
    color: #e2e0e0;
}

.header-holder-item:hover,
.focused-holder,
.header-holder-item:hover .field ,
.field:focus {
    background-color: #fdfdfd;
    color:#4b5253;
}

.header-holder-item .field {
    background: #4b5253 ;
    border: none;
    padding: 0.4em 0.75em;
}

/* Search */

.search-holder {
    width: 16.1em;
    margin-right: 1em;
    color: #cdd5d9;
    padding-left: 0.7em;
}

.search-holder .font-icon {
    margin-right: 0.2em;
}

.search-holder .field {
    width: 10em;
}

.find-btn {
    align-self: stretch;
    background: #4b5253;
    border-radius: 0.3em;
    color: #fff;
    padding: 0 .7em;
    display: none;
}

.header-holder-item:hover .find-btn {
    display: block;
}

/* Select */

.select-wrapper {
    position: relative;
    align-items: stretch;
    background: #4b5253 url(../img/new5.png) -310px -16px;
    padding: 0.4em 0 0.4em 0;
}

.select-wrapper .user {
    position:absolute;
    width: 18px;
    height: 16px;
    background-position: -381px -201px;
    top: 0.5em;
    left: 0.8em;
    z-index: 1;
}

.select-wrapper:hover .user {
    background-position: -381px -141px;
}

.select-wrapper .select {
    padding: 0 1.3em 0 2.2em;
    background: #4b5253 url(../img/new5.png) -310px -21px;
}

.select-wrapper:hover .select {
    background: #fdfdfd url(../img/new5.png) -310px -80px;
}

/* Aside navigation */

.content-holder {
    position: relative;
}

.wide-flex {
    flex-grow: 1;
}

.aside-nav {
    font-family: "Open Sans", "Helvetica Nueue", Arial, sans-serif;
    width: 7.4em;
    min-height: 38.4em;
    background: #2b2b2b;
    left:0;
    transition: left 0.5s ease;
    position: absolute;
    z-index: 1;
    height: 100%;
}

.hidden {
    left:-7.4em;
}

.hide {
    display: none;
}

.aside-nav-list li {
    height: 5.8em;
    display: flex;
}

.aside-nav-list li.active
{
    background: #585858;
}

.aside-nav-list .icon {
    margin-bottom: 0.625em;
}

.aside-nav-list .menu-btn {
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 0.8125em;
}

.home {
    width: 29px;
    height: 29px;
    background-position: -16px -136px ;
}

.menu-btn:hover .home {
    background-position: -16px -196px;
}

.explore-data {
    width: 33px;
    height: 31px;
    background-position: -74px -135px;
}

.menu-btn:hover .explore-data {
    background-position: -74px -195px;
}

.dashboards {
    width: 31px;
    height: 32px;
    background-position: -134px -135px;
}

.menu-btn:hover .dashboards {
    background-position: -134px -195px;
}


.schedule {
    width: 25px;
    height: 31px;
    background-position: -198px -135px;
}

.menu-btn:hover .schedule {
    background-position: -198px -195px;
}

.user-objects {
    width: 33px;
    height: 33px;
    background-position: -255px -136px;
}


.menu-btn:hover .user-objects {
    background-position: -255px -196px;
}

.help {
    width: 34px;
    height: 34px;
    background-position: -312px -133px;
}

.menu-btn:hover .help {
    background-position: -313px -193px;
}

/*Long Dashboard*/

.top-nav {
    min-height: 4.9em;
    background: #e4e4e4;
    border-bottom: 1px solid #c5c6c6;
    box-shadow: inset 0px 0px 7px 1px #ABABAB;
    -webkit-box-shadow: inset 0px 0px 7px 1px #ABABAB;
    -moz-box-shadow: inset 0px 0px 7px 1px #ABABAB;
    -o-box-shadow: inset 0px 0px 7px 1px #ABABAB;
    position: relative;
}

.top-nav-list {
    align-items: center;
    justify-content: space-between;
    padding: 0.6em;
    position: relative;
    text-transform: uppercase;
}

.top-nav-list li {
    width: 12.25em;
    height: 3.875em;

}

.top-nav-list a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 0.8125em;
}

.dashboard.icon {
    width: 50px;
    height: 48px;

}

/* Dashboard buttons */
.drill-down.btn {
    background: rgb(251,199,47); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(251,199,47,1) 0%, rgba(216,164,12,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,199,47,1)), color-stop(100%,rgba(216,164,12,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(251,199,47,1) 0%,rgba(216,164,12,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(251,199,47,1) 0%,rgba(216,164,12,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(251,199,47,1) 0%,rgba(216,164,12,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(251,199,47,1) 0%,rgba(216,164,12,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc72f', endColorstr='#d8a40c',GradientType=0 ); /* IE6-9 */
}

.drill-down .icon{
    background-position: -186px -66px;
}

.top-nav-list .btn {
    border-radius: 0.5em;
    opacity: 0.6;
}

.btn.active, .btn:hover{
    opacity: 1;
}

.top-nav-list .btn .icon {
    margin: 0 0.94em;
}
.default {
    background: rgb(110,160,45); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(110,160,45,1) 0%, rgba(93,135,39,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,160,45,1)), color-stop(100%,rgba(93,135,39,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(110,160,45,1) 0%,rgba(93,135,39,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(110,160,45,1) 0%,rgba(93,135,39,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(110,160,45,1) 0%,rgba(93,135,39,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(110,160,45,1) 0%,rgba(93,135,39,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ea02d', endColorstr='#5d8727',GradientType=0 ); /* IE6-9 */
}

.default .icon {
    background-position: -66px -70px;;
}

.comparing {
    background: rgb(56,153,215); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(56,153,215,1) 0%, rgba(42,103,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,153,215,1)), color-stop(100%,rgba(42,103,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(56,153,215,1) 0%,rgba(42,103,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(56,153,215,1) 0%,rgba(42,103,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(56,153,215,1) 0%,rgba(42,103,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(56,153,215,1) 0%,rgba(42,103,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3899d7', endColorstr='#2a6799',GradientType=0 ); /* IE6-9 */
}

.comparing .icon {
    background-position: -126px -65px;
}

.errors {
    background: rgb(190,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(190,0,0,1) 0%, rgba(140,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(190,0,0,1)), color-stop(100%,rgba(140,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(190,0,0,1) 0%,rgba(140,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(190,0,0,1) 0%,rgba(140,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(190,0,0,1) 0%,rgba(140,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(190,0,0,1) 0%,rgba(140,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be0000', endColorstr='#8c0000',GradientType=0 ); /* IE6-9 */
}

.errors .icon {
    background-position: -6px -67px;
}

.long-dashboard {
    background: rgb(7,90,143); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(7,90,143,1) 0%, rgba(4,30,84,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,90,143,1)), color-stop(100%,rgba(4,30,84,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(7,90,143,1) 0%,rgba(4,30,84,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(7,90,143,1) 0%,rgba(4,30,84,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(7,90,143,1) 0%,rgba(4,30,84,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(7,90,143,1) 0%,rgba(4,30,84,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#075a8f', endColorstr='#041e54',GradientType=0 ); /* IE6-9 */
}

.long-dashboard .icon {
    background-position: -186px -66px;
}


@media (max-width: 1200px) {
    .long-dashboard-item {
        display: none;
    }
}

@media (max-width: 940px) {
    .errors-item {
        display: none;
    }
}

@media (max-width: 750px) {
    .comparing-item {
        display: none;
    }
}

.nav-btn {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 22%, rgba(234,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(22%,rgba(255,255,255,0.8)), color-stop(100%,rgba(234,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 22%,rgba(234,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 22%,rgba(234,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 22%,rgba(234,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 22%,rgba(234,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eaeded',GradientType=1 ); /* IE6-9 */
    padding: 0 0.5em 0 3em;
    color:#626566;
}

.nav-btn:hover {
    color: #fff;
    background: -moz-linear-gradient(left,  rgba(226,226,226,0) 0%, rgba(226,226,226,0.38) 15%, rgba(224,224,224,0.4) 16%, rgba(167,167,167,0.9) 45%, rgba(59,59,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,226,226,0)), color-stop(15%,rgba(226,226,226,0.38)), color-stop(16%,rgba(224,224,224,0.4)), color-stop(45%,rgba(167,167,167,0.9)), color-stop(100%,rgba(59,59,59,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(226,226,226,0) 0%,rgba(226,226,226,0.38) 15%,rgba(224,224,224,0.4) 16%,rgba(167,167,167,0.9) 45%,rgba(59,59,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(226,226,226,0) 0%,rgba(226,226,226,0.38) 15%,rgba(224,224,224,0.4) 16%,rgba(167,167,167,0.9) 45%,rgba(59,59,59,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(226,226,226,0) 0%,rgba(226,226,226,0.38) 15%,rgba(224,224,224,0.4) 16%,rgba(167,167,167,0.9) 45%,rgba(59,59,59,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(226,226,226,0) 0%,rgba(226,226,226,0.38) 15%,rgba(224,224,224,0.4) 16%,rgba(167,167,167,0.9) 45%,rgba(59,59,59,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e2e2e2', endColorstr='#3b3b3b',GradientType=1 ); /* IE6-9 */
}

/*Dashboard Controls*/

.control-item {
    background: #eaeded;
    border:1px solid #d1d1d1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    color:#636869;
}

.top-nav .control-item {
    min-width: 2.1em;
    font-size: 1.4em;
}

.control-item .btn {
    background: #eaeded;
}

.highlighted {
    transition: background-color .27s ease-in;
}

.highlighted:hover {
    background-color: #585858;
    color:#fff;
}

.view-btn {
    width: 22px ;
    height: 21px ;
    background-position: -259px -21px; ;
}

.top-nav .btn:hover .view-btn {
    background-position: -259px -80px; ;
}

/* Content  */

.content {
    padding: 2em;
}

.content-header {
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: center;
}

.content-header .icon {
    background-position: -186px -6px;
}

.content-header .title {
    text-transform: uppercase;
}

.content-header .control-item {
    width: 2.3em;
    height: 1.8em;
    margin-right: 0.6em;
    border-radius: 0.5em;
    font-size: 1.1em;
}

.content-header .btn {
    border-radius: 0.5em;
}

.content-header .control-item:last-child {
    margin-right: 0;
}

/*Graphics*/

.graphics {
    justify-content: space-around;
    font-family: 'Open Sans', "Helvetica Nueue", Arial, sans-serif;
    flex-wrap: wrap;
}

.graphic {
    height:18em ;
    width: 28%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 1em;
    position: relative;

}

.graph-title {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.graph-title .title {
    margin-bottom: 0;
}

@media only screen
and (max-width : 768px) {
    .wrapper {
        min-width: 630px;
    }

    .content-header {
        margin-bottom: 4em;
    }

    .graphic {
        width: 90%;
        margin-bottom: 1em;
    }
}


