body, html{
    height: 100%;
}

body{
    background: #f5f5f5;
    font-family: "Open Sans", "Helvetica Nueue", Arial, sans-serif;
}
/* Wrapper */

.flex-holder-column {
    display: flex;
    flex-direction: column;
}

/*.wrapper {*/
    /*height: 100%;*/
/*}*/

/*Header*/

.header {
    min-height: 3.75em;
    overflow: hidden ;
    background: #393939;
}

.flex-holder-row {
    display: flex;
}

.header .menu-btn {
    background: #2b2b2b;
    padding:1.25em;
}

.icon {
    display: inline-block;
    background: url(../img/sprite-new.png) no-repeat;
}

.menu-btn .font-icon {
    font-size: 1.125em ;
    color: #f8f8f8;
}

.header-container {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding:0 0.75em 0 1.5em;
}

.header-container .logo {
    display:block;
    width:160px;
    height:30px;
}

.header-holder-item {
    border: 1px solid #282828;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 1);
    -moz-box-shadow:    0px 0px 10px 0px rgba(34, 34, 34, 1);
    box-shadow:         0px 0px 10px 0px rgba(34, 34, 34, 1);
    background: #4b5253;
    padding: 0.4em 0.75em;
    align-items: center;
    border-radius:0.5em;
    color: #e2e0e0;
    font-family: 'PT Sans', sans-serif;
}

.search-holder {
    font-size: 0.8em;
    width: 15.2em;
    margin-right: 1em;
}

.search-holder .font-icon {
    color: #cdd5d9;
    margin-right: 0.7em;
}

.header-holder-item .field {
    background: #4b5253 ;
    border: none;
    padding: 0;
}

.user-icon {
    width: 18px;
    height: 18px;
    background-position-y: -45px;
    margin-right: 0.75em;
}

.arrow-icon {
    width: 5px ;
    height: 5px;
    background-position-x: -25px;
}

.select {
    padding: 0.4em 1.04em 0.4em 2.2em;
    background: #4b5253 url(../img/sprite.png) -131px -38px;
}

/* Aside navigation */

.wide-flex {
    flex-grow: 1;
}

.aside-nav {
    width: 7.4em;
    min-height: 38.4em;
    background: #2b2b2b;
    position: relative;
    left:0;
    transition: all 0.5s ease;
}

.move {
    left:-7.4em;
    /*position: absolute;*/
    /*height: 100%;*/
}

.hide {
    display: none;
}

.aside-nav-list li {
    height: 5.8em;
    display: flex;
}

.aside-nav-list li {
    background: #2b2b2b;
    transition: background 0.3s ease-in;
}

.aside-nav-list li.active, .aside-nav-list li:hover  {
    background: #585858;
}

.aside-nav-list .icon {
    margin-bottom: 0.625em;
}

.aside-nav-list .menu-btn {
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 0.8125em;
}

.home {
    width: 29px;
    height: 29px;
    background-position: -16px -136px ;
}

.menu-btn:hover .home {
    background-position: -16px -196px;
}

.explore-data {
    width: 33px;
    height: 31px;
    background-position: -74px -135px;
}

.menu-btn:hover .explore-data {
    background-position: -74px -195px;
}

.dashboards {
    width: 31px;
    height: 32px;
    background-position: -134px -135px;
}

.menu-btn:hover .dashboards {
    background-position: -134px -195px;
}


.schedule {
    width: 25px;
    height: 31px;
    background-position: -198px -135px;
}

.menu-btn:hover .schedule {
    background-position: -198px -195px;
}

.user-objects {
    width: 33px;
    height: 33px;
    background-position: -255px -136px;
}


.menu-btn:hover .user-objects {
    background-position: -255px -196px;
}

.help {
    width: 34px;
    height: 34px;
    background-position: -312px -133px;
}

.menu-btn:hover .help {
    background-position: -313px -193px;
}

/*Long Dashboard*/

.top-nav {
    min-height: 4.9em;
    background: #e4e4e4;
    border-bottom: 1px solid #c5c6c6;
    box-shadow: inset 0px 0px 7px 1px #ABABAB;
    -webkit-box-shadow: inset 0px 0px 7px 1px #ABABAB;
    -moz-box-shadow: inset 0px 0px 7px 1px #ABABAB;
    -o-box-shadow: inset 0px 0px 7px 1px #ABABAB;
    position: relative;
}

.top-nav-list {
    align-items: center;
    justify-content: space-between;
    padding: 0.6em;
    position: relative;
    text-transform: uppercase;
    font-family: "Open Sans Bold";

}

.top-nav-list:after {
    content: "";
    width: 2.3em;
    height: 100%;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.68) 66%, rgba(252,255,253,0.84) 81%, rgba(246,249,248,0.87) 87%, rgba(234,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(66%,rgba(255,255,255,0.68)), color-stop(81%,rgba(252,255,253,0.84)), color-stop(87%,rgba(246,249,248,0.87)), color-stop(100%,rgba(234,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 66%,rgba(252,255,253,0.84) 81%,rgba(246,249,248,0.87) 87%,rgba(234,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 66%,rgba(252,255,253,0.84) 81%,rgba(246,249,248,0.87) 87%,rgba(234,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 66%,rgba(252,255,253,0.84) 81%,rgba(246,249,248,0.87) 87%,rgba(234,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 66%,rgba(252,255,253,0.84) 81%,rgba(246,249,248,0.87) 87%,rgba(234,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eaeded',GradientType=1 ); /* IE6-9 */
    position: absolute;
    top: 0;
    right: 0em;
}

.top-nav-list li {
    width: 12.25em;
    height: 3.875em;

}

.top-nav-list a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 0.8125em;
}


.top-nav-list .icon {
    width: 50px;
    height: 48px;

}

/* Dashboard buttons */
.drill-down {
    background: rgb(251,199,47); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(251,199,47,1) 0%, rgba(216,164,12,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,199,47,1)), color-stop(100%,rgba(216,164,12,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(251,199,47,1) 0%,rgba(216,164,12,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(251,199,47,1) 0%,rgba(216,164,12,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(251,199,47,1) 0%,rgba(216,164,12,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(251,199,47,1) 0%,rgba(216,164,12,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc72f', endColorstr='#d8a40c',GradientType=0 ); /* IE6-9 */
}

.drill-down .icon{
    background-position: -8px -67px;
}

.btn {
    border-radius: 0.5em;
    opacity: 0.6;
}

.btn.active, .btn:hover{
    opacity: 1;
}

.btn .icon {
    margin: 0 0.94em;
}
.default {
    background: rgb(110,160,45); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(110,160,45,1) 0%, rgba(93,135,39,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,160,45,1)), color-stop(100%,rgba(93,135,39,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(110,160,45,1) 0%,rgba(93,135,39,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(110,160,45,1) 0%,rgba(93,135,39,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(110,160,45,1) 0%,rgba(93,135,39,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(110,160,45,1) 0%,rgba(93,135,39,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ea02d', endColorstr='#5d8727',GradientType=0 ); /* IE6-9 */
}

.default .icon {
    background-position: -66px -70px;;
}

/*.default:hover, .default.active {*/
    /*background-position: -201px -170px;*/
/*}*/

.comparing {
    background: rgb(56,153,215); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(56,153,215,1) 0%, rgba(42,103,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,153,215,1)), color-stop(100%,rgba(42,103,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(56,153,215,1) 0%,rgba(42,103,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(56,153,215,1) 0%,rgba(42,103,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(56,153,215,1) 0%,rgba(42,103,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(56,153,215,1) 0%,rgba(42,103,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3899d7', endColorstr='#2a6799',GradientType=0 ); /* IE6-9 */
}

.comparing .icon {
    background-position: -126px -65px;
}

/*.comparing:hover, .comparing.active {*/
    /*background-position-y: -300px;*/
/*}*/

.errors {
    background: rgb(190,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(190,0,0,1) 0%, rgba(140,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(190,0,0,1)), color-stop(100%,rgba(140,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(190,0,0,1) 0%,rgba(140,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(190,0,0,1) 0%,rgba(140,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(190,0,0,1) 0%,rgba(140,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(190,0,0,1) 0%,rgba(140,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be0000', endColorstr='#8c0000',GradientType=0 ); /* IE6-9 */
}

.errors .icon {
    background-position: -186px -70px;;
}

/*.errors:hover, .errors.active  {*/
    /*background-position: -200px -299px;*/
/*}*/

.long-dashboard {
    background: rgb(7,90,143); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(7,90,143,1) 0%, rgba(4,30,84,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,90,143,1)), color-stop(100%,rgba(4,30,84,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(7,90,143,1) 0%,rgba(4,30,84,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(7,90,143,1) 0%,rgba(4,30,84,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(7,90,143,1) 0%,rgba(4,30,84,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(7,90,143,1) 0%,rgba(4,30,84,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#075a8f', endColorstr='#041e54',GradientType=0 ); /* IE6-9 */
}

.long-dashboard .icon {
    background-position: -8px -67px;
}

/*.long-dashboard:hover, .long-dashboard.active {*/
    /*background-position-y: -428px;*/
/*}*/

@media (max-width: 1200px) {
    .long-dashboard {
        display: none;
    }
}

.nav-btn {
    background: #eaeded;
    padding: 0.8em;
}

.nav-btn .font-icon {
    color:#626566;
}

/*Dashboard Controls*/

.controls {
    min-width: 44px;
    background: #eaeded;
    border-left: 1px solid #c5c6c6;
}

.controls li {
    border-bottom: 1px solid #c5c6c6;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.controls li:last-child {
    border-bottom: none;
}

.controls .btn {
    background: #eaeded;
}

.controls .font-icon {
    color:#636869;
    font-size: 1.4em;
}

.view-btn {
    width: 22px ;
    height: 21px ;
    background-position: -17px -19px; ;
}

/*Graphics*/

.graphics {
    justify-content: space-around;
    padding: 4em;
}

.graphic {
    height:18em ;
    width: 30%;
    justify-content: center;
    display: flex;
}


@media only screen
and (max-width : 66.5em) {

    .wrapper {
        min-width: 58.2em;
    }

    .errors {
        display: none;
    }

    .graphics {
        flex-direction: column;
        align-items: center;
        padding:0;
    }

    .graphic {
        margin-bottom: 2em;
    }

    .highchart .graphic {
        padding-top: 4em ;
    }

    .d3 .graphic {
        margin-right: 0;
    }

}


