.flex-holder-column {
    display: flex;
    flex-direction: column;
}

.icon {
    display: inline-block;
    background: url(../img/sprite.png) no-repeat;
}

.flex-holder-row {
    display: flex;
}

.wide-flex {
    flex-grow: 1;
}

.hide {
    display: none;
}