@font-face {
    font-family: 'Gill';
    src: url('../fonts/GillSans.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Regular';
    src: url('../fonts/MyriadPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Bold';
    src: url('../fonts/MyriadPro-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ElegantIcons';
    src:url('../fonts/ElegantIcons.eot');
    src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ElegantIcons.woff') format('woff'),
    url('../fonts/ElegantIcons.ttf') format('truetype'),
    url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

